<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h3 class="text-center"> Olá <%= user.email %> </h3>
      <p class="text-center lead"> Caso queira entrar em outra conta ou criar uma nova, clique em SAIR. </p>
      <%- include('includes/messages'); %>

      <div class="user-img text-center my-5">
        <div class="img-container my-2"> Insira aqui sua foto de perfil. </div>
        <input type="file" name="user-img">
        <input type="submit" name="upload" value="Upload">
      </div>
    </div>

  </div>
</div>

<%- include('includes/footer') %>